#main {
  background-color: lightgrey;
}
#image {
/*   text-align: center; */
  display: block;
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   width: 100%; */
  height: auto;
  max-width: 100%;
}